<div class="overlay d-none" style="z-index:999999">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-danger position-fixed loader" role="status">
        </div>
        <progress id="progressTillUpdate" class="position-fixed d-none progressBar" value="0" max="100">
        </progress>
        <div id="progressTillUpdateValue" class="position-fixed progressValue d-none progressBar">0 %</div>
    </div>
</div>

